/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Times New Roman';
  background-color: #8e6c3a;
}

/* Login Form */
.login-wrapper {
  background-color:#abac82;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

.login-wrapper h1 {
  color: #ffffff;
  font-size: 36px;
  margin-top: 0;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
}

.login-wrapper label {
  color: #666;
  font-size: 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.login-wrapper input[type="text"],
.login-wrapper input[type="password"],
.login-wrapper input[type='email'] {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(26, 182, 104, 0.3);
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  margin-bottom: 10px;
  background-size: 20px 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
}

.login-wrapper input[type="text"] {
  background-image: url('https://cdn-icons-png.flaticon.com/512/149/149071.png');
}

.login-wrapper input[type="password"] {
  background-image: url('https://cdn-icons-png.flaticon.com/512/891/891399.png');
}

.login-wrapper button[type="submit"] {
  background-color: #795d1db9;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.2s;
  font-family: 'Times New Roman';
}

.login-wrapper button[type="submit"]:hover {
  background-color: #b99758;
}

.login-wrapper input:focus,
.login-wrapper textarea:focus,
.login-wrapper button:focus,
.login-wrapper select:focus {
  outline: none;
}

.login-wrapper a{
  text-decoration: none;
  font-family: 'Times New Roman';
  color: #ffffff; 
  font-size: 15px;
  margin-top: 10px;
}


.login-wrapper input[type="email"] {
  background-image: url('../images/icons8-nova-mensagem-50.png');
}
